$color-1: #fff;
$color-2: #000;
$color-3: #ededed;
$color-4: #5ae4aa;
$color-5: #22d087;
$color-6: #787878;
$color-7: #242424;
$color-8: #adadad;
$color-9: #181818;
$color-10: #d8d8d8;


$screen-1444: "screen and (max-width: 1444px)";
$screen-990: "screen and (max-width: 990px)";
$screen-768: "screen and (max-width: 768px)";
$screen-700: "screen and (max-width: 700px)";
$screen-336: "screen and (max-width: 336px)";